* {
  border: none;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --twitter-blue: #01AEFF;
  --secondary-color: #575f6b;
}

body,
html {
  height: 100vh;
  width: 100vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 0 5%;
  margin: 0 auto;
}

main {
  border: 2px solid #f1f1f1;
  max-width: 900px;
  margin: 0 auto;
}

main>* {
  padding: 0 25px;
}

/* Header Section */
header {
  align-items: center;
  position: relative;
  height: 70px;
}

header a:first-child {
  height: 100%;
  width: 10%;
  align-items: center;
  justify-content: flex-start;
}

#back-arrow {
  rotate: -90deg;
  display: inline-block;
}

h3 {
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--secondary-color);
}

/* Banner */
#banner {
  width: 100%;
  height: 300px;
  position: relative;
  background-position: center;
  background-size: cover;
}

#banner .profile-div {
  height: 70%;
  width: 200px;
  height: 200px;
  border: 7px solid white;
  position: absolute;
  bottom: -35%;
}

/* About Section */

section.about {
  justify-content: space-between;
}

.about div.user-info {
  width: 50%;
  padding-top: 110px;
}

.about .follow-btn {
  color: white;
  background: var(--twitter-blue);
  padding: 0px 25px;
  height: 60px;
  font-size: 23px;
  margin-top: 15px;
  border-radius: 40px;
  font-weight: 800;
}

.joined-row {
  margin: 22px 0px;
}

.follow-stats {
  color: black;
  font-weight: 700;
  margin-right: 5px;
}

#follow-info h3:nth-child(2) {
  margin-right: 10px;
}

/* Navigation */
nav {
  border-bottom: 2px solid #f1f1f1;
  margin-top: 25px;
  padding: 0px;
}

nav ul li {
  list-style: none;
  text-align: center;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

nav ul li.active {
  border-bottom: 3px solid var(--twitter-blue);
}

nav ul li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

nav ul li.active a {
  color: var(--twitter-blue)
}

/* Tweet Section */
.feed {
  padding: 0;
}

.tweet {
  align-items: center;
  padding: 15px 25px;
  border: 1px solid #f1f1f1;
}

.tweet .profile-div {
  height: 60px;
  width: 60px;
  margin-right: 15px;
}

.tweet .verified-icon {
  margin-right: 5px;
}

.tweet h3:nth-child(3) {
  position: relative;
  padding-right: 10px;
}

.tweet h3:nth-child(4) {
  padding-left: 8px;
}

.tweet h3:nth-child(3)::after {
  content: "";
  background: var(--secondary-color);
  height: 3px;
  width: 3px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  right: 0;
}

.tweet-text {
  font-size: 20px;
}

.tweet .top-row {
  position: relative;
  width: 100%;
}

.tweet .top-row h3:first-child {
  color: black;
  font-weight: 600;
}

.first-row .flex-col {
  width: 92%;
}

.ellipses {
  height: 100%;
  width: 5%;
  right: 0;
  position: absolute;
  display: flex;
  align-items: center;
}

.ellipses .dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  margin: 0 2px;
}

.interactions {
  padding-top: 25px;
}

.interactions ul {
  display: flex;
}

.interactions ul li {
  list-style: none;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #575f6b;
}

.interactions .icon {
  height: 25px;
  width: 25px;
  color: var(--secondary-color);
}

/* utilities */
.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.clickable {
  cursor: pointer;
}

.hide-elements {
  display: none;
}

/* Assets */
.verified-icon {
  height: inherit;
  height: 30px;
  margin-left: 2px;
}

.profile-div {
  background-position: center;
  background-size: contain;
  border-radius: 50%;
}

.icon {
  height: 1.5em;
  margin-right: 5px;
}

/* Media Queries for Smaller Resolutions */

@media only screen and (max-width: 773px) {
  nav ul li a {
    font-size: 16px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 618px) {
  body {
    padding: 0;
  }

  :root {
    font-size: smaller;
  }

  #banner .profile-div {
    width: 100px;
    height: 100px;
    border: 2px solid white;
  }

  .about .follow-btn {
    padding: 0px 15px;
    height: 30px;
    font-size: 19px;
    border-radius: 40px;
    font-weight: 400;
  }

  nav ul li a {
    font-size: 15px;
    font-weight: 500;
  }


  nav ul li {
    margin: auto;
    height: 50px;
    width: auto;
    padding: 0 10px;
  }

  .tweet {
    padding: 15px 0px;
  }

  .ellipses .dot {
    height: 2px;
    width: 2px;
    margin: 0 1px;
  }

  .tweet-text {
    font-size: 16px;
  }
}